<h1>{{title}}</h1>

{{#if products.length}}
  <ul class="cart-list">
    {{#each products}}
  <li>
    <strong>{{this.product.title}}</strong><br />
    Cantidad: {{this.quantity}} <br />
    Precio unitario: ${{this.product.price}} <br />
    Subtotal: ${{this.subtotal}} <br />
    <hr />
  </li>
{{/each}}

<p><strong>Total del carrito:</strong> ${{total}}</p>

  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
