
<form method="GET" class="filter-form">
  <input
    type="text"
    name="search"
    placeholder="Buscar por nombre"
    value="{{search}}"
    class="form-input"
  />

  <select name="category" class="form-select">
    <option value="">Todas las categorías</option>
    <option value="ropa" {{#if isRopa}}selected{{/if}}>Ropa</option>
    <option value="electronica" {{#if isAccesorios}}selected{{/if}}>Electronica</option>     
  </select>

  <button type="submit" class="btn">Filtrar</button>
</form>


<h1>Productos</h1>
<div id="productContainer" class="product-grid">
  {{#each docs}}
    <div class="product-item" data-id="{{this._id}}">
      <img src="" alt="{{this.title}}" width="100" height="100" />
      <strong>{{this.title}}</strong>
      <p>{{this.description}}</p>
      <p><strong>Código:</strong> {{this.code}}</p>
      <p><strong>Precio:</strong> ${{this.price}}</p>
      <p><strong>Stock:</strong> {{this.stock}}</p>
      <p><strong>Categoría:</strong> {{this.category}}</p>

      <div class="btn-group">
        <button onclick="location.href='/products/{{this._id}}'" class="btn">Detalles del Producto</button>
        <button class="btn" data-id="{{this._id}}">Agregar al Carrito</button>

      </div>
    </div>
  {{/each}}
</div>
<div class="pagination">
  {{#if hasPrevPage}}
    <a href="?page={{prevPage}}" class="btn">Anterior</a>
  {{/if}}

  <span>Página {{page}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="?page={{nextPage}}" class="btn">Siguiente</a>
  {{/if}}
</div>


